In [94]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option("display.max_columns", 40)
import warnings
warnings.filterwarnings("ignore")

## 1. Load & Inspect Data

### 1.1 Read the CSV file into the variable "hotel". Use pandas library to read the file. (1 Mark)

In [95]:
#Read the Csv dataset File here

hotel = pd.read_csv('hotel_mod.csv')#file name
print(hotel) #To display the csv file

            Customer_Id         hotel  is_canceled  lead_time  \
0            Customer_1  Resort Hotel            0        342
1            Customer_2  Resort Hotel            0        737
2            Customer_3  Resort Hotel            0          7
3            Customer_4  Resort Hotel            0         13
4            Customer_5  Resort Hotel            0         14
...                 ...           ...          ...        ...
119385  Customer_119386    City Hotel            0         23
119386  Customer_119387    City Hotel            0        102
119387  Customer_119388    City Hotel            0         34
119388  Customer_119389    City Hotel            0        109
119389  Customer_119390    City Hotel            0        205

        arrival_date_year arrival_date_month  arrival_date_week_number  \
0                    2015               July                        27
1                    2015               July                        27
2                    2015               July                        27
3                    2015               July                        27
4                    2015               July                        27
...                   ...                ...                       ...
119385               2017             August                        35
119386               2017             August                        35
119387               2017             August                        35
119388               2017             August                        35
119389               2017             August                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
0                               1                        0
1                               1                        0
2                               1                        0
3                               1                        0
4                               1                        0
...                           ...                      ...
119385                         30                        2
119386                         31                        2
119387                         31                        2
119388                         31                        2
119389                         29                        2

        stays_in_week_nights  adults  children  babies meal country  \
0                          0       2       0.0       0   BB     PRT
1                          0       2       0.0       0   BB     PRT
2                          1       1       0.0       0   BB     GBR
3                          1       1       0.0       0   BB     GBR
4                          2       2       0.0       0   BB     GBR
...                      ...     ...       ...     ...  ...     ...
119385                     5       2       0.0       0   BB     BEL
119386                     5       3       0.0       0   BB     FRA
119387                     5       2       0.0       0   BB     DEU
119388                     5       2       0.0       0   BB     GBR
119389                     7       2       0.0       0   HB     DEU

       market_segment distribution_channel  is_repeated_guest  \
0              Direct               Direct                  0
1              Direct               Direct                  0
2              Direct               Direct                  0
3           Corporate            Corporate                  0
4           Online TA                TA/TO                  0
...               ...                  ...                ...
119385  Offline TA/TO                TA/TO                  0
119386      Online TA                TA/TO                  0
119387      Online TA                TA/TO                  0
119388      Online TA                TA/TO                  0
119389      Online TA                TA/TO                  0

        previous_cancellations  previous_bookings_not_canceled  \
0                            0                               0
1                            0                               0
2                            0                               0
3                            0                               0
4                            0                               0
...                        ...                             ...
119385                       0                               0
119386                       0                               0
119387                       0                               0
119388                       0                               0
119389                       0                               0

       reserved_room_type assigned_room_type  booking_changes deposit_type  \
0                       C                  C                3   No Deposit
1                       C                  C                4   No Deposit
2                       A                  C                0   No Deposit
3                       A                  A                0   No Deposit
4                       A                  A                0   No Deposit
...                   ...                ...              ...          ...
119385                  A                  A                0   No Deposit
119386                  E                  E                0   No Deposit
119387                  D                  D                0   No Deposit
119388                  A                  A                0   No Deposit
119389                  A                  A                0   No Deposit

        agent  company  days_in_waiting_list customer_type     adr  \
0         NaN      NaN                     0     Transient    0.00
1         NaN      NaN                     0     Transient    0.00
2         NaN      NaN                     0     Transient   75.00
3       304.0      NaN                     0     Transient   75.00
4       240.0      NaN                     0     Transient   98.00
...       ...      ...                   ...           ...     ...
119385  394.0      NaN                     0     Transient   96.14
119386    9.0      NaN                     0     Transient  225.43
119387    9.0      NaN                     0     Transient  157.71
119388   89.0      NaN                     0     Transient  104.40
119389    9.0      NaN                     0     Transient  151.20

        required_car_parking_spaces  total_of_special_requests  \
0                                 0                          0
1                                 0                          0
2                                 0                          0
3                                 0                          0
4                                 0                          1
...                             ...                        ...
119385                            0                          0
119386                            0                          2
119387                            0                          4
119388                            0                          0
119389                            0                          2

       reservation_status reservation_status_date
0               Check-Out              01-07-2015
1               Check-Out              01-07-2015
2               Check-Out              02-07-2015
3               Check-Out              02-07-2015
4               Check-Out              03-07-2015
...                   ...                     ...
119385          Check-Out              06-09-2017
119386          Check-Out              07-09-2017
119387          Check-Out              07-09-2017
119388          Check-Out              07-09-2017
119389          Check-Out              07-09-2017

[119390 rows x 33 columns]

### 1.2 Inspect the Data Frame (4 Marks)

- Write the code to check the top-5 rows
- Write the code to check the shape of the data frame, hotel.
- Write the code to check the info about the data frame, hotel.
- Write the code to print the column names of the data frame, hotel.

In [96]:
#Look at the first 5 rows of the data to get a basic intution
hotel.head(5) #It will return first n rows from the dataframe and display.

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Customer_1,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,01-07-2015
1,Customer_2,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,01-07-2015
2,Customer_3,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,02-07-2015
3,Customer_4,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,02-07-2015
4,Customer_5,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,03-07-2015

In [97]:
# Check the number of rows and columns (shape) of the dataframe

hotel.shape #It will return the size of a dataset in (Rows,columns).

(119390, 33)

In [98]:
# Look at the basic information about the columns and look at the datatypes
hotel.info() #The info() method prints information about columns in dataframe.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 33 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Customer_Id                     119390 non-null  object
 1   hotel                           119390 non-null  object
 2   is_canceled                     119390 non-null  int64
 3   lead_time                       119390 non-null  int64
 4   arrival_date_year               119390 non-null  int64
 5   arrival_date_month              119390 non-null  object
 6   arrival_date_week_number        119390 non-null  int64
 7   arrival_date_day_of_month       119390 non-null  int64
 8   stays_in_weekend_nights         119390 non-null  int64
 9   stays_in_week_nights            119390 non-null  int64
 10  adults                          119390 non-null  int64
 11  children                        119386 non-null  float64
 12  babies                          119390 non-null  int64
 13  meal                            119390 non-null  object
 14  country                         118902 non-null  object
 15  market_segment                  119390 non-null  object
 16  distribution_channel            119390 non-null  object
 17  is_repeated_guest               119390 non-null  int64
 18  previous_cancellations          119390 non-null  int64
 19  previous_bookings_not_canceled  119390 non-null  int64
 20  reserved_room_type              119390 non-null  object
 21  assigned_room_type              119390 non-null  object
 22  booking_changes                 119390 non-null  int64
 23  deposit_type                    119390 non-null  object
 24  agent                           103050 non-null  float64
 25  company                         6797 non-null    float64
 26  days_in_waiting_list            119390 non-null  int64
 27  customer_type                   119390 non-null  object
 28  adr                             119390 non-null  float64
 29  required_car_parking_spaces     119390 non-null  int64
 30  total_of_special_requests       119390 non-null  int64
 31  reservation_status              119390 non-null  object
 32  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(13)
memory usage: 30.1+ MB

In [99]:
hotel.dtypes #It will help to check the data types in dataframe.

Customer_Id                        object
hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [100]:
# Write the code to check the column names
hotel.columns #To check the columns names in dataframe

Index(['Customer_Id', 'hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

## 2. Data Cleaning (5 Marks)



### 2.1 Get the column-wise Null percentage count using 'isnull()' and length of the dataframe (2 Marks)

#### Hint: When we use isnull().sum() we get sum and when we divide it by the length of the dataframe and multiply the numerator with 100 we get the percentage of missing values in each column

In [101]:
# Get the percentage of missing values in each column .Sort the output in descending order.

Sum = hotel.isnull().sum() #detect the missing values and returns the sum of elements for each row and column.

percent = 100*(Sum/len(hotel)).sort_values(ascending = False)#logic used from the given hint and sort the values in decreasing order.

print(round(percent,2),'%n') #Round is a function returns a floating point numbers

company                           94.31
agent                             13.69
country                            0.41
children                           0.00
reserved_room_type                 0.00
assigned_room_type                 0.00
booking_changes                    0.00
deposit_type                       0.00
Customer_Id                        0.00
previous_cancellations             0.00
days_in_waiting_list               0.00
customer_type                      0.00
adr                                0.00
required_car_parking_spaces        0.00
total_of_special_requests          0.00
reservation_status                 0.00
previous_bookings_not_canceled     0.00
distribution_channel               0.00
is_repeated_guest                  0.00
hotel                              0.00
market_segment                     0.00
meal                               0.00
babies                             0.00
adults                             0.00
stays_in_week_nights               0.00
stays_in_weekend_nights            0.00
arrival_date_day_of_month          0.00
arrival_date_week_number           0.00
arrival_date_month                 0.00
arrival_date_year                  0.00
lead_time                          0.00
is_canceled                        0.00
reservation_status_date            0.00
dtype: float64 %n

### 2.2 We can see that the columns 'company' and 'agent' have 94% and 13% of values missing respectively. Since our business goals doesnot require these columns also, since these columns contain huge missing values.So,lets drop them. (2 marks)

In [102]:
hotel = hotel.drop(labels = ['company','agent'],axis=1,errors='ignore') #It will drop the unwanted column in dataframe

In [103]:
hotel.columns #Recheck the dataframe if the comoany and agent columns removed or not

Index(['Customer_Id', 'hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

### Though country contains 0.40% of missing values it is a important factor in our analysis. Also, dropping the whole column for such low missing values is not the right choice. Lets drop the rows which has column 'country' missing.

In [104]:
hotel = hotel[~ hotel['country'].isnull()]#Drop the rows which has column country missing the values

### 2.3 Explain the code below: (1 mark)

What is the below code block doing?

In [105]:
hotel['children'][hotel['children'].isnull()] = 0

# In children 'column' if there is any null values it will replace with value 0 or 0.0.

## 3.Data Analysis (25 Marks)

## 3.1 Analysing the possible reasons for the customers to cancel the booking (11 Marks)

### 3.1.1 In total how many customers cancelled the booking? (2 Marks)

In [118]:
## use the column 'is_canceled' and check the number of total cancellations

total_canceled = len(hotel[hotel['is_canceled']==1])
print("The total  number of cancelled the bookings are", total_canceled)

The total  number of cancelled the bookings are 44157

### 3.1.2 What percentage of bookings were cancelled for City Hotel and Resort Hotel? (2 marks)

In [107]:
## Use group by and calculate the percentage of cancellations for City Hotel and Resort Hotel

#df_hotel = hotel.groupby('hotel')['is_canceled'].value_counts()
df_hotel = hotel.groupby('hotel')['is_canceled'].value_counts(normalize=True)
print(df_hotel)

#city_hotel_percent=(df_hotel['City Hotel'][1]/(df_hotel['City Hotel'].sum()))*100
city_hotel_percent = df_hotel['City Hotel'][1]*100

#resort_hotel_percent=(df_hotel['Resort Hotel'][1]/(df_hotel['Resort Hotel'].sum()))*100
resort_hotel_percent = df_hotel['Resort Hotel'][1]*100

print("\n*************************************************************************")
print("percentage of bookings cancelled for City Hotel",city_hotel_percent)
print("percentage of bookings cancelled for Resort Hotel",resort_hotel_percent)

hotel         is_canceled
City Hotel    0              0.582881
              1              0.417119
Resort Hotel  0              0.720250
              1              0.279750
Name: is_canceled, dtype: float64

*************************************************************************
percentage of bookings cancelled for City Hotel 41.711850301364336
percentage of bookings cancelled for Resort Hotel 27.975047984644913

### 3.1.3 Who gave more special requests? Customers who cancelled the booking or customers who didnot cancel the booking? Find the percentage for both the cases (2 Marks)

In [108]:
# Write your code here
req_who_cancel = hotel.loc[hotel['is_canceled'] == 1, 'total_of_special_requests'].sum()
req_who_didnot_cancel = hotel.loc[hotel['is_canceled'] == 0, 'total_of_special_requests'].sum()
print(req_who_cancel)
print(req_who_didnot_cancel)
if req_who_cancel > req_who_didnot_cancel:
    print("\nTotal of special requests is more for guests who did cancel=",req_who_cancel)
else:
    print("\nTotal of special requests is more for guests who did not cancel=",req_who_didnot_cancel)
    
#percent req_who_cancel = req_who_didnot_cancel

req_canceled_percent=req_who_cancel*100/(req_who_cancel+req_who_didnot_cancel)
req_not_canceled_percent=req_who_didnot_cancel*100/(req_who_cancel+req_who_didnot_cancel)

print("% of special request by customers who cancelled the bookings",req_canceled_percent)
print("% of special request by customers who did not cancelled the bookings",req_not_canceled_percent)

14516
53461

Total of special requests is more for guests who did not cancel= 53461
% of special request by customers who cancelled the bookings 21.35428159524545
% of special request by customers who did not cancelled the bookings 78.64571840475455

### 3.1.4 What is the average number of days a particular customer needs to wait who later cancelled the booking and who didn't cancelled the booking? (2 Marks)

In [109]:
## Write your code here
average1 = hotel.loc[hotel['is_canceled'] == 1, 'days_in_waiting_list'].mean()
average2 = hotel.loc[hotel['is_canceled'] == 0, 'days_in_waiting_list'].mean()

print("\n######################################################################################")
print("Average number of days for a particular customer needs to wait who later cancelled the booking is", average1)
print("Average number of days for a particular customer needs to wait who later cancelled the booking is", average2)

######################################################################################
Average number of days for a particular customer needs to wait who later cancelled the booking is 3.569490680979233
Average number of days for a particular customer needs to wait who later cancelled the booking is 1.598822663723326

### 3.1.5 What is the percentage of customers who have cancelled the booking and have a history of cancelling the booking previously? (2 Marks)

In [110]:
cancel_percentage = hotel.loc[(hotel['is_canceled']==1) & (hotel['previous_cancellations'] > 0) , 'previous_cancellations'].count()
#print(cancel_percentage)


cancel_history_percent = round((cancel_percentage/ total_canceled) * 100, 2)
print('The percentage of customers who have cancelled the booking and have a history of cancelling the booking previously is: \n' , cancel_history_percent , '%')

The percentage of customers who have cancelled the booking and have a history of cancelling the booking previously is:
 13.4 %

### 3.1.6 What steps from the business perspective can you take to ensure that people who cancelled bookings previously do not repeat that again? (1 Mark)

Steps to reduce the repeated cases of cancelling bookings:
1. Make sure you have a cancellation policy.
2. Get in touch with guests when they don’t turn up.
3. Contact your customers when they do not show up.
4. Offer discounts for confirmed bookings.

## 3.2 Filtering out top 10 customers to offer them discounts when they visit next time (14 Marks)

### 3.2.1 Filter customers that have not cancelled the booking. (2 marks)

In [111]:
#Make a new dataframe 'not_cancel ' which contains details of the customers who have "not canceled"
not_cancel = hotel[hotel['is_canceled']==0]
not_cancel[['Customer_Id' , 'is_canceled']]

            Customer_Id  is_canceled
0            Customer_1            0
1            Customer_2            0
2            Customer_3            0
3            Customer_4            0
4            Customer_5            0
...                 ...          ...
119385  Customer_119386            0
119386  Customer_119387            0
119387  Customer_119388            0
119388  Customer_119389            0
119389  Customer_119390            0

[74745 rows x 2 columns]

From now on we will use this dataframe for further analysis

Let's now calculate the total stay duration for customer together with the revenue generated by that particular customer. Using these metrics, we would be able to identify top customers that are profitable to the hotel.

### 3.2.2 Create a new column "total_stay_duration" in the data frame not_cancel. (2 Marks)

Total_Stay_Duration is defined as the number of nights a customer stayed in the hotel including both weekends and weekdays

In [112]:
not_cancel['total_stay_duration'] = not_cancel['stays_in_week_nights'] + not_cancel['stays_in_weekend_nights']
not_cancel[['Customer_Id' , 'stays_in_week_nights' , 'stays_in_weekend_nights' , 'total_stay_duration']]

## total stay duration is the number of days a customer stayed in 
# the hotel including both weekends and weekdays

,Customer_Id,stays_in_week_nights,stays_in_weekend_nights,total_stay_duration
0,Customer_1,0,0,0
1,Customer_2,0,0,0
2,Customer_3,1,0,1
3,Customer_4,1,0,1
4,Customer_5,2,0,2
...,...,...,...,...
119385,Customer_119386,5,2,7
119386,Customer_119387,5,2,7
119387,Customer_119388,5,2,7
119388,Customer_119389,5,2,7
119389,Customer_119390,7,2,9

### 3.2.3 Create a new column "total_revenue" in the data frame not_cancel. (2 Marks)

Total_Revenue can be calculated by multiplying average rental revenue(adr) with total stay duration(column created in last question)

The average daily rate (adr) measures the average rental revenue earned for an occupied room per day. The operating performance of a hotel or other lodging business can be determined by using the ADR.

In [113]:
not_cancel['total_revenue'] =  not_cancel['adr'] * not_cancel['total_stay_duration']
#not_cancel
not_cancel[['adr' , 'total_stay_duration' , 'total_revenue']]

## Adr is the average rental revenue earned. 
#If we multiply adr with total stay duration we get the total_revenue

           adr  total_stay_duration  total_revenue
0         0.00                    0           0.00
1         0.00                    0           0.00
2        75.00                    1          75.00
3        75.00                    1          75.00
4        98.00                    2         196.00
...        ...                  ...            ...
119385   96.14                    7         672.98
119386  225.43                    7        1578.01
119387  157.71                    7        1103.97
119388  104.40                    7         730.80
119389  151.20                    9        1360.80

[74745 rows x 3 columns]

### 3.2.4 Find the top 10 customers based on trip duration who stayed at City Hotel (2 Marks)

- Filter the data frame "not_cancel" for hotel = "City Hotel"
- Sort the filtered data frame on "total_stay_duration" in descending
- Keep only top 10 rows

In [114]:
top_10_cust_trip_CH = not_cancel.loc[not_cancel['hotel']=='City Hotel'].sort_values(by= 'total_stay_duration' , ascending = False).head(10)
top_10_cust_trip_CH[['Customer_Id' , 'hotel' , 'total_stay_duration']]
#top_10_cust_trip_CH

            Customer_Id       hotel  total_stay_duration
101794  Customer_101795  City Hotel                   57
88017    Customer_88018  City Hotel                   49
54704    Customer_54705  City Hotel                   48
106561  Customer_106562  City Hotel                   43
103282  Customer_103283  City Hotel                   34
41020    Customer_41021  City Hotel                   29
98046    Customer_98047  City Hotel                   28
109038  Customer_109039  City Hotel                   27
96438    Customer_96439  City Hotel                   24
101345  Customer_101346  City Hotel                   23

### 3.2.5 Find the top 10 customers based on trip duration who stayed at Resort Hotel (2 marks)

- Filter the data frame "not_cancel" for hotel = "Resort Hotel"
- Sort the filtered data frame on "total_stay_duration" in descending
- Keep only top 10 rows

In [115]:
top_10_cust_trip_RH = not_cancel.loc[not_cancel['hotel']=='Resort Hotel'].sort_values(by= 'total_stay_duration' , ascending = False).head(10)
top_10_cust_trip_RH[['Customer_Id' , 'hotel' , 'total_stay_duration']]
#top_10_cust_trip_RH

          Customer_Id         hotel  total_stay_duration
33924  Customer_33925  Resort Hotel                   56
1655    Customer_1656  Resort Hotel                   46
32589  Customer_32590  Resort Hotel                   45
3850    Customer_3851  Resort Hotel                   42
34614  Customer_34615  Resort Hotel                   42
34898  Customer_34899  Resort Hotel                   42
35059  Customer_35060  Resort Hotel                   38
33620  Customer_33621  Resort Hotel                   35
33234  Customer_33235  Resort Hotel                   35
32946  Customer_32947  Resort Hotel                   35

### 3.2.6 Find the top 10 customers based on total revenue who stayed at City Hotel (2 Marks)

- Filter the data frame "not_cancel" for hotel = "City Hotel"
- Sort the filtered data frame on "total_revenue" in descending
- Keep only top 10 rows

In [116]:
top_10_cust_revenue_CH = not_cancel.loc[not_cancel['hotel']=='City Hotel'].sort_values(by= 'total_revenue' , ascending = False).head(10)
top_10_cust_revenue_CH[['Customer_Id' , 'hotel' , 'total_revenue']]
#top_10_cust_revenue_CH

            Customer_Id       hotel  total_revenue
101345  Customer_101346  City Hotel        3910.00
105525  Customer_105526  City Hotel        3791.00
103282  Customer_103283  City Hotel        3162.00
95420    Customer_95421  City Hotel        3080.00
95150    Customer_95151  City Hotel        2949.44
96438    Customer_96439  City Hotel        2544.00
106335  Customer_106336  City Hotel        2543.20
81695    Customer_81696  City Hotel        2400.00
93470    Customer_93471  City Hotel        2388.96
108825  Customer_108826  City Hotel        2340.03

### 3.2.7 Find the top 10 customers based on total revenue who stayed at Resort Hotel (2 marks)

- Filter the data frame "not_cancel" for hotel = "Resort Hotel"
- Sort the filtered data frame on "total_revenue" in descending
- Keep only top 10 rows

In [117]:
top_10_cust_revenue_RH = not_cancel.loc[not_cancel['hotel']=='Resort Hotel'].sort_values(by= 'total_revenue' , ascending = False).head(10)
top_10_cust_revenue_RH[['Customer_Id' , 'hotel' , 'total_revenue']]
#top_10_cust_revenue_RH

          Customer_Id         hotel  total_revenue
27242  Customer_27243  Resort Hotel        4452.00
16087  Customer_16088  Resort Hotel        3867.50
39252  Customer_39253  Resort Hotel        3681.00
38913  Customer_38914  Resort Hotel        3616.06
15980  Customer_15981  Resort Hotel        3528.00
27066  Customer_27067  Resort Hotel        3520.02
15400  Customer_15401  Resort Hotel        3507.02
15399  Customer_15400  Resort Hotel        3487.00
26035  Customer_26036  Resort Hotel        3477.60
14039  Customer_14040  Resort Hotel        3450.00